<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    {#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css">#}
    <script src="https://kit.fontawesome.com/a3a88fceae.js"></script>
    <style>
        body {
            height: 100vh;
            overflow-x: hidden;
            padding-top: 55px;
        }

        /* set the sidebar width */
        .w-sidebar {
            width: 200px;
            max-width: 200px;
        }

        .row.collapse {
            margin-left: -200px;
            left: 0;
            transition: margin-left .15s linear;
        }

        .row.collapse.show {
            margin-left: 0 !important;
        }

        .row.collapsing {
            margin-left: -200px;
            left: -0.05%;
            transition: all .15s linear;
        }

        /* optional */
        .vh-100 {
            min-height: 100vh;
        }

        /* optional for overlay sidebar on small screens */
        @media (max-width:768px) {

            .row.collapse,
            .row.collapsing {
                margin-left: 0 !important;
                left: 0 !important;
                overflow: visible;
            }

            .row > .sidebar.collapse {
                display: flex !important;
                margin-left: -100% !important;
                transition: all .3s linear;
                position: fixed;
                z-index: 1050;
                max-width: 0;
                min-width: 0;
                flex-basis: auto;
            }

            .row > .sidebar.collapse.show {
                margin-left: 0 !important;
                width: 100%;
                max-width: 100%;
                min-width: initial;
            }

            .row > .sidebar.collapsing {
                display: flex !important;
                margin-left: -10% !important;
                transition: all .2s linear !important;
                position: fixed;
                z-index: 1050;
                min-width: initial;
            }
        }
    </style>
</head>
<body>
<div class="container-fluid fixed-top bg-dark py-3">
    <div class="row collapse show no-gutters d-flex h-100 position-relative">
        <div class="col-3 px-0 w-sidebar navbar-collapse collapse d-none d-md-flex">
            <!-- spacer col -->
        </div>
        <div class="col px-2 px-md-0">
            <!-- toggler -->
            <a data-toggle="collapse" href="#" data-target=".collapse" role="button" class="p-1">
                <i class="fa fa-bars fa-lg"></i>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid px-0 h-100">
    <div class="row  collapse show no-gutters d-flex  position-relative">
        <div class="col-3 p-0 vh-100 h-100 w-sidebar navbar-collapse collapse d-none d-md-flex sidebar">
            <!-- fixed sidebar -->
            <div class="position-fixed bg-dark text-white h-100 w-sidebar pl-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
</body>
{% block javascripts %}
<script rel="script" src="{{ asset('js/jquery-3.4.1.min.js') }}"></script>
<script rel="script" src="{{ asset('js/popper.min.js') }}"></script>
<script rel="script" src="{{ asset('js/popper-utils.min.js') }}"></script>
<script rel="script" src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}


</html>